<mat-toolbar color="primary" class="header">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">PAISES </span>
    <span class="spacer"></span>

   
 
    <div class="user-info" *ngIf="currentUser">
      <img [src]="currentUser.avatar" alt="Foto de {{ currentUser.name }}" class="user-avatar">
      <span class="user-name" (click)="toggleLogoutModal()">{{ currentUser.name }}</span>
    </div>
    
    <div id="logout-modal" class="modal" *ngIf="isLogoutModalVisible">
      <div class="modal-content">
        <p>¿Estás seguro de que deseas cerrar sesión?</p>
        <button (click)="logout()">Cerrar sesión</button>
        <button (click)="toggleLogoutModal()">Cancelar</button>
      </div>
    </div>
  </mat-toolbar>